# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/

# Ignore environment variables file containing sensitive info
.env

# Ignore other common files
*.log
*.sqlite3
